* {
  box-sizing: border-box;
  font: 12px/1.0em "Coda";
  margin: 0; padding: 0;
  color: hsl(0, 0%, 80%);
  border: none; outline: none;
  border-spacing: 0;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  display: flex;
  flex: 1;
  background: hsl(0, 0%, 0%);
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex: 1;
  max-width: 1280px;
  margin: auto;
  background: hsl(0, 0%, 0%);
  min-height: 100%;
  position: relative;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -1px; right: -1px; left: -1px; height: 50px;
  background: hsl(0, 0%, 10%);
  outline: 1px solid hsla(0, 0%, 20%, 1.0);
  z-index: 1000;
  box-shadow: 0 1px 10px hsl(0, 0%, 0%);
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -51px;
  right: 0px; left: 0;
  height: 50px;
  background: hsl(0, 0%, 10%);
  outline: 1px solid hsla(0, 0%, 20%, 1.0);
  z-index: 1000;
  box-shadow: 0 -1px 10px hsl(0, 0%, 0%);
}


.bold {
  position: relative;
  letter-spacing: 1px;
}

.bold::after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  right: -1px;
}


header:hover * {
  color: hsl(0, 0%, 100%);
}

#directors .director:hover {
  color: hsl(0, 0%, 100%);
}

/*div.directors h1 {
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

div.directors ul {
  visibility: hidden;
  background: hsl(0, 0%, 10%);
  position: absolute;
  left: 0; top: 50px;
  columns: 0 5;
  width: 1024px;
  max-width: 1280px;
}

div.directors:hover ul {
  visibility: visible;;
  padding: 10px;
}

div.directors ul > li {
  padding: 5px 10px;
}
*/
/**********************************************************\
**
** Menu
**
\**********************************************************/

#menu-button {
  position: relative;
}

#menu-button::before {
  content: "";
  opacity: 0.0;
  background: url(/icons/arrow-angle-pointing-to-left.svg);
  background-size: 100%;
  position: absolute;
  margin-left: -3px;
  width: 30px; height: 30px;
  transition: all 0.125s ease-out;
}

#menu-button.selected::before {
  opacity: 1.0;
}

#menu-button img {
  transition: all 0.125s ease-out;
}

#menu-button.selected img {
  xtransform: translate(50px);
  opacity: 0.0;
}

.menu {
  border-right: 1px transparent;
  transform: translate(calc(-100% + 1px), 0);
  transition: all 0.125s ease-in;
}

@media (any-hover) {
  .menu:hover {
    transform: translate(0, 0);
    transition: all 0.0625s ease-out;
    border-right: 1px solid hsl(0, 0%, 10%);
    box-shadow: 0 -1px 10px hsl(0, 0%, 0%);
  }
}

.menu.open {
  transform: translate(0, 0);
  transition: all 0.0625s ease-out;
  border-right: 1px solid hsl(0, 0%, 10%);
  box-shadow: 0 -1px 10px hsl(0, 0%, 0%);
}

.menu table th, .menu table td {
  text-align: left;
  xvertical-align: top;
}

.menu table th {
  font-weight: 800;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 7px;
}

.menu table tr:first-child th {
  padding-top: 0;
}

.menu table th, .menu table td {
  xline-height: 36px;
  xline-height: 1.05em;
  font-size: 20px;
}

.menu > table td {
  height: 35px;
  cursor: pointer;
}

.menu > table td.selected::before {
  position: absolute;
  content: '\2713';
  margin-left: 3px;
  font-size: 90%;
}

.menu > table td:hover {
  color: white;
}

/**********************************************************\
**
** Movies
**
\**********************************************************/

ul.movies {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 10px 10px;
}

ul.movies > li {
  margin: 0 10px;
}

ul.movies > li h1 {
  margin-top: 15px;
  margin-bottom: -3px;
  height: 20px;
  xpadding: 0 20px;
  font-size: 20px;
  font-weight: 400;
}

ul.movies > li .image {
  position: relative;
  margin: 10px 0;
  xposition: relative;
  transition: all 0.125s ease-in;
  cursor: pointer;
  opacity: 0.0;
}

ul.movies > li .image.loaded {
  opacity: 1.0;
}

/* @media (any-hover:hover) { */
@media screen and (min-width: 1280px) {
  ul.movies > li:hover .image {
    transition: all 0.0625s ease-out;
    box-shadow: 0 0 30px hsla(200, 100%, 50%, 1.0);
  }
}

ul.movies > li.selected .image {
  transform: translate(0, -15px) scale(1.125, 1.125);
  transition: all 0.0625s ease-out;
  box-shadow: 0 0 30px hsla(200, 100%, 50%, 1.0);
}

ul.movies > li .image::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 1px solid hsla(0, 0%, 100%, 0.125);
  outline: 1px solid hsla(0, 0%, 0%, 0.5);
}

ul.movies > li .image > img {
  display: block;
  width: 160px; height: 238px;
  xwidth: 12.5vw; xheight: 18.75vw;
}


ul.movies > li ul.actions {
  padding: 5px 5px;
  visibility: hidden;
  background: linear-gradient(hsla(0, 0%, 0%, 0.0), hsla(0, 0%, 0%, 0.9));
}


/* @media (any-hover:hover) { */
@media screen and (min-width: 1280px) {
  ul.movies > li:hover ul.actions {
    visibility: visible;
  }
}

ul.movies > li.selected ul.actions {
  visibility: visible;
}

ul.movies > li ul.actions li {
  flex: 1;
  height: 30px;
  background: center center/20px 20px no-repeat;
  border-radius: 2px;
}

/* @media (any-hover:hover) { */
@media screen and (min-width: 1280px) {
  ul.movies > li ul.actions li:hover {
    background-color: hsla(0, 0%, 100%, 0.25);
    box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.5);
  }
}

/*ul.movies > li ul.actions li:active {
  background-color: hsla(0, 0%, 100%, 0.30);
}
*/

ul.movies > li ul.actions li.watchlist {
  background-image: url(/icons/numbered-items.svg);
}

ul.movies > li ul.actions li.watched {
  background-image: url(/icons/verification-sign.svg);
}

ul.movies > li ul.actions li.favorite {
  background-image: url(/icons/heart.svg);
}

/*ul.movies > li ul.actions li.watchlist:active {
  background-image: url(/icons/numbered-items-selected.svg);
}
*/

ul.movies > li ul.actions li.watchlist.selected {
  background-image: url(/icons/numbered-items-selected.svg);
}

ul.movies > li ul.actions li.favorite.selected {
  background-image: url(/icons/heart-selected.svg);
}

ul.movies > li ul.actions li.watched.selected {
  background-image: url(/icons/verification-sign-selected.svg);
}

footer {
  background: url(/icons/numbered-items-selected.svg),
              url(/icons/heart-selected.svg),
              url(/icons/verification-sign-selected.svg);
}

ul.movies > li > .details {
  height: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul.movies > li > .details .bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 20px; right: 20px;
  padding: 0 0px;
  background: hsl(0, 0%, 10%);
  height: 70px;
  border-top: 1px solid hsl(0, 0%, 20%);
}

/**********************************************************\
**
** Help Modal
**
\**********************************************************/

#help-modal {
  opacity: 0.0;
  visibility: hidden;
  transition: opacity 0.125s ease-in, visibility 0.125s ease-in;
}

#help-modal.open {
  opacity: initial;
  visibility: visible;
  transition: opacity 0.125s ease-out, visibility 0.125s ease-out;
}

#help-modal .dialog {
  padding: 0 10px;
  margin: 10px;
  margin-top: 50px;
  transform: scale(0.9, 0.9);
  transition: transform 0.125s ease-in;
}

#help-modal.open .dialog {
  transform: scale(1, 1);
  transition: transform 0.125s ease-out;
}

#help-modal .dialog ul {
  xpadding: 0 10px;
  list-style: square;
}

#help-modal .dialog h1 {
  font-size: 20px;
  margin: 10px 0 10px 0;
  line-height: 1.5em;
}

#help-modal .dialog h1 span {
  font-size: 20px;
  line-height: 1.5em;
}

#help-modal .dialog ul li {
  font-size: 20px;
  margin: 10px 5px 10px 30px;
  line-height: 1.5em;
}

#help-modal .dialog ul li * {
  font-size: 20px;
  line-height: 1.5em;
}

/**********************************************************\
**
** Mobile
**
\**********************************************************/

@media screen and (min-width: 1025px) {
  #help-modal .mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #help-modal .desktop {
    display: none;
  }

  .menu > table td.selected::before {
    margin-left: 0;
    font-size: 100%;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  ul.movies > li .image img {
    width: 147px; height: 219px;
    width: 17.7vw; height: 26vw;
    width: 14.4vw; height: 21.6vw;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  ul.movies > li .image img {
    width: 21vw; height: 31.5vw;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  ul.movies > li .image img {
    width: 21.8vw; height: 31vw;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .menu table th, .menu table td {
    font-size: 15px;
    height: 30px;
  }

  .movies > li > .details .bubble .title {
    font-size: 15px !important;
  }

  ul.movies > li .image img {
    xwidth: 41vw; xheight: 61vw;
    width: calc((100vw / 2) - (10px * 3));
    height: calc(((100vw / 2) - (10px * 3)) * 1.5);
  }

  ul.movies > li > .details .bubble {
    left: 0; right: 0;
  }
}
